<h2>template<span class="g">`&lt;html&gt;`</span> </h2>
<p>
  Creates DOM based on HTML markup provided with associated data that can be re-called whne data updates,
  then only nodes related to changed data will be re-rendered.
</p>
<h3>Usage</h3>
<pre>
  import { \\template\\ } from "utility-belt";
  ...
  document.body.appedChild(
    \\template\\`
      -\<div>
        <h1>Hello world</h1>
        <p>This is some text</p>
      </div>\-
    `
  );
</pre>
<p>It is trivial to changed <strong>template</strong> tag function into component that renders data.</p>
<pre>
  ...

  const render = \\name\\ => template`
    -\<div>
      <h1>Hello ${\\name\\}</h1>      
      <p>This node will not change</p>
    </div>\-
  `;

  -\// Render component with name set to Bob.\-
  document.body.appedChild(render(\\"Bob"\\));

  -\// Re-render only H1 tag with new name ALice.\-
  render(\\"Alice"\\);
</pre>
<p>
  If we wan to get a reference to any node in the template, we can use <strong>ref</strong> attribute to acheive that:
</p>
<pre>
  import { template, getRefs } from "utility-belt";
  ...

  const \\element\\ = template`
    -\<div>
      <h1>Hello world</h1>
      <p ref="\\text\\">This is some text</p>
    </div>\-
  `;

  const refs = getRefs(\\element\\);
  console.log(\\refs.text\\.textContent); -\// This is some text\-
</pre>
<p>
  One of hadny features of temapte tag function is ability to include DOM nodes directly into the template:
</p>
<pre>
  ...

  const \\myHeadline\\ = document.createElement("h1");
  \\myHeadline\\.textContent = "Hello world";

  const element = template`
    -\<div>
      ${\\myHeadline\\}
      <p>This is some text</p>
    </div>\-
  `;
</pre>
<p>
  You can also insert an array of DOM nodes or a NodeList:
</p>
<pre>
  ...

  const \\grocceryList\\ = document.querySelectorAll("li.groccery-item");

  const element = template`
    -\<div>
      <p>This is my groccery list</p>
      <ul>
        ${\\grocceryList\\}
      </ul>
    </div>\-
  `;
</pre>
<div class="info">
  Template utility uses <strong>ststic markup</strong> of a component to determine which component needs to be
  re-render. It is recommended to use custom IDs to speed up compiling process when working with large templates.
</div>
<hr class="space small">
<p>
  If we want to differ DOM elements but keep same markup (e.g. in list of elements), we need to use IDs to distinguish
  those templates.
</p>
<pre>
  ...

  const \\ToDoItem\\ = (\\id\\, -\name\-) => template(\\id\\)`
    -\<li>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>${name}</span>
    </li>\-
  `;

  document.body.appendChild(template`
    -\<ul class="to-do-list">
      ${items.map((name, \\index\\) => \\ToDoItem\\(\\index\\, name))}
    </ul>\-
  `);


</pre>