html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Lato", sans-serif;
}

section {
  padding: 1em;
  max-width: 54em;
  border-radius: 4px;
  box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.3);
}

main {
  width: 100%;
  margin-left: 12em;
  padding: 1em 1.5em;
}

main > h1 {
  display: flex;
  margin-bottom: 1em;
  align-items: flex-end;
  justify-content: space-between;
}

main > h1 a {
  font-size: 0.65em;
}

aside {
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;
  position: fixed;
  color: #232323;
  overflow: hidden;
  background-color: #FFC107;
}

aside > .scroller {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  margin-right: -17px;
  flex-direction: column;
  transition: margin-right .3s ease;
}

aside > .scroller:hover {
  margin-right: -13px;
}

a {
  color: inherit;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color .3s ease;
}

a > * {
  pointer-events: none;
}

a > strong {
  background: rgba(0,0,0,0.2);
}

a:hover {
  background-color: rgba(0,0,0,0.1);
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0 0;
  display: flex;
  max-width: 54rem;
  justify-content: space-between;
}

h1 > a {
  font-size: 0.6em;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0 0;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  padding: 1.2em 0;
  color: #a0b3b1;
  font-size: 1.1em;
  line-height: 1.3em;
  border-radius: 4px;
  margin: 0.8em 0 1.2em;
  background: #161927;
  font-family: monospace;
}

pre em {
  font-style: normal;
  color: #FFC107;
}

pre > em.fade {
  font-style: normal;
  color: #637472;
}

p {
  line-height: 1.3em;
}

hr {
  border: none;
  display: block;
  margin: 0.8em 0;
  border-bottom: 1px solid #ddd;
}

hr.space {
  border: none;
}

hr.small {  
  margin: 0.3em 0;
}

del {
  text-decoration: line-through;
}

table {
  width: 100%;
  margin: 0.8em 0 1.2em;
  border-collapse: collapse;
}

table tr > td:first-child {
  font-weight: bold;
}

td, th {
  padding: 0.8em 0.4em;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 0.8em;
  font-weight: 800;
  text-transform: uppercase;
}

code {
  background: #ddd;
  padding: 2px;
  border-radius: 2px;
  font-family: monospace;
}

button {
  padding: 0.7em;
  cursor: pointer;
  font-family: "Lato";
  border-radius: 30px;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: background-color .3s ease, border-color.3s ease;
}

button:hover {
  background-color: #ddd;
}

button:focus {
  outline: none;
  border-color: rebeccapurple;
}

span.header,
span.version {
  font-size: 0.8em;
  font-weight: 900;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

span.version a {
  position: relative;
  z-index: 10;
}

span.header {
  margin-top: 0.5em;
}

span.g,
span.gray {
  color: #666;
}

input {
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #bbb;
}

li {
  margin: 0.3em 0;
}

.info {  
  font-size: 0.9em;
  line-height: 1.3em;
  border-radius: 2px;
  position: relative;
  align-items: center;
  background-color: #FFC107;
  padding: 0.4em 0.4em 0.4em 2em;
}

.info:before {
  content: "";
  top: 50%;
  left: 0.6em;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  margin-right: 0.3em;
  display: inline-block;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../icons/info.svg);
  background-size: 100%;
}

/* domFilter */

ul.food-items {
  margin-top: 0.5em;
}

ul.food-items > li {
  padding: 0.5em;
  background: #ddd;
  border-bottom: 1px solid #ccc;
}

ul.food-items > li strong {
  background: rgba(0,0,0,0.2);
}

/* Searchbox */

.searchbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  position: absolute;
}

.searchbox input {
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  padding: 0;
  border: none;
  color: white;
  border-radius: 0;
  position: absolute;
  font-family: inherit;
  pointer-events: none;
  background-color: #161927;
  border-bottom: 2px solid transparent;
  transition: width .3s ease, padding .3s ease, border-bottom .3s ease;
}

.searchbox.active input {
  z-index: 50;
  width: 152px;
  padding: 0.5em;
  pointer-events: all;
}

.searchbox input:focus {
  outline: none;
  border-bottom: 2px solid #232323;
}

.searchbox button.search-btn {
  top: 3px;
  right: 3px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: none;
  background: none;
  position: absolute;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../icons/search.svg);
}

.searchbox.active button.search-btn {
  background-size: 50%;
  background-image: url(../icons/close.svg);
}

.searchbox button.search-btn:focus {
  background-color: rgba(0,0,0,0.1);
}

img {
  width: 100%;
  height: auto;
}

/* UTILS */

.stack  {
  display: flex;
  flex-direction: column;
}

.stack > * + * {
  margin-top: 2em;
}


.rail {
  display: flex;
  flex-direction: row;
}

.rail > * + * {
  margin-left: 1em;;
}

.line {
  display: flex;
  justify-content: flex-start;
}

.center {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indent {
  padding-left: 1em;
}

.top-space {
  margin-top: 1em;
  margin-left: 1em;
}

.footer {
  padding: 1em;
  color: #232323;
  background: #eee;
  font-size: 0.9em;
  text-align: center;
  margin: 1em -1.5em -1.5em;
}